<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:left">-->
<!--  <h1>-->
<!--    Welcome to {{ title2 }}!-->
<!--  </h1>-->
<!--&lt;!&ndash;  <app-user-list (output)="alertUserFromList($event)"> </app-user-list>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-user (output)="alertUserFromList($event)" [user]="user" #userList> </app-user>&ndash;&gt;-->
<!--&lt;!&ndash;  <button appJumper (click)="alertChild()">Alert child component</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-user-management></app-user-management>&ndash;&gt;-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--&lt;!&ndash;<nav>&ndash;&gt;-->
<!--&lt;!&ndash;  <h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLinkActive="active current" routerLink="/users">Users</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLinkActive="active current" routerLink="/bugs">Bugs</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </h1>&ndash;&gt;-->

<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<router-outlet></router-outlet>
